auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
*.el~
.DS_Store
.yas-compiled-snippets.el
.cask
ac-comphist.dat
jabber-avatar-cache
jabber-history
var
history
projectile-bookmarks.eld
cider-history
projectile.cache
url