auto-save-list
backups
*~
.places
session.*
tramp
history
org-clock*
elpa
swank
site-lisp/adventur-mode
*.elc
*.el~
.DS_Store
.yas-compiled-snippets.el
.cask
ac-comphist.dat
jabber-avatar-cache
jabber-history
var
history
projectile-bookmarks.eld
cider-history
projectile.cache
url
\#*\#
\.\#*
/custom.fas
/custom.lib
/.python-environments/
/site-lisp/webkit/
/eshell/
/flycheck_org-clock-save.el
/flycheck_init.el
/site-misc/flycheck_stuff.el
/hgs-cache
/user-lisp/.tern-port
/.tern-port
/general-lisp/.tern-port
/general-lisp/.#appearance.el
/.mc-lists.el
/emacs-visited-files
/bookmarks
/site-misc/emacs-w3m/.#NEWS
/async-bytecomp.log
/general-lisp/custom.el
/recentf
